<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devTeam</title>
    <!--online fontawsome css -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- css-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/section1.css">
    <link rel="stylesheet" href="/static/css/devTeam.css">
    <!-- script -->
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse Section1_nav">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><span class="neonText">Qurative.ai</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">

                <li title="about us"><a href="#"><span style="margin-right: 6px;"
                            class=" glyphicon glyphicon-envelope"></span></a></li>
                <li title="FAQ"><a href="/faq"><span style="margin-right: 6px;"
                            class="glyphicon glyphicon-question-sign"></span></a></li>

                <li title="contactus"><a href="#"><span style="margin-right: 6px;"
                            class="glyphicon glyphicon-phone-alt"></span></a></li>
                <li title="dev team"><a href="#"><span style="margin-right: 6px;"
                            class="glyphicon glyphicon-education"></span></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Virtual Lab<span style="margin-left: 8px;"
                            class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Upload Chest X-ray</a></li>
                        <li><a href="#">Guide to use</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
<hr>
<!-- nav end -->
<section>
    <section>
        <section class="team-page-section">
            <div class="container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Meet Our Team</div>
                    <div class="separator"><span></span></div>
                    <h2>Success is best when it’s shared</h2>
                </div>
    
                <div class="row clearfix">
    
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">DIKSHANT MALI </a></h3>
                                <div class="designation" style="font-size: 16px;">Co-founder Qurative.ai</div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
    
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">PRITESH KUMAR </a></h3>
                                <div class="designation" style="font-size: 16px;">Co-founder Qurative.ai</div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="image">
                                <a href="#"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="#">CHANDAN KUMAR </a></h3>
                                <div class="designation" style="font-size: 16px;">Co-founder Qurative.ai</div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </section>
    </section>
</section>




<!-- footer -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <div class="copyright-text">
                    <p>CopyRight © <span style="color: #64ffda;">Qurative.ai</span> Digital All Rights Reserved</p>
                </div>
            </div> <!-- End Col -->
        </div>
    </div>
</div>


    
</body>

</html>