<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--online fontawsome css -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   
    <!-- css end -->
<link rel="stylesheet" href="/static/css/section1.css">

    
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/css/faq.css">
</head>
<body >

  <nav class="navbar navbar-inverse Section1_nav">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="neonText">Qurative.ai</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
              <li title="FAQ"><a href="/"><span style="margin-right: 6px;" class="glyphicon glyphicon-home"></span></a></li>
                <li title="about us"><a href="#"><span style="margin-right: 6px;"
                            class=" glyphicon glyphicon-envelope"></span></a></li>
                

                <li title="contactus"><a href="/#contactUs"><span style="margin-right: 6px;"
                            class="glyphicon glyphicon-phone-alt"></span></a></li>
                <li title="dev team"><a href="/dev"><span style="margin-right: 6px;"
                            class="glyphicon glyphicon-education"></span></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Virtual Lab<span style="margin-left: 8px;"
                            class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Upload Chest X-ray</a></li>
                        <li><a href="#">Guide to use</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>




    <div class="header1" >
        
        <div class="sub-header1">
           <center><img src="/static/images/faq.png" class="img-responsive"></center>
        </div>
    </div>
    
<br>

<center><img src="/static/images/hangman.png"></center>

<div class="hangman container">
  
</div>
<div class="sec1 container">

        <div class="panel ">
            <a data-toggle="collapse"  href="#collapse1"><div class="panel-heading mypanelstyle">
            <h4 class="panel-title">
              How much time the Qurative.ai system takes to process a chest X-ray image?
              <span style="float: right;" class="glyphicon glyphicon-hand-down"></span>
            </h4>
          </div>
          </a>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="mypanelbody panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div>

        <br><br>

        <div class="panel ">
            <a data-toggle="collapse"  href="#collapse2"><div class="panel-heading mypanelstyle">
            <h4 class="panel-title">
              
                How much time the Qurative.ai system takes to process a chest X-ray image?
              <span style="float: right;" class="glyphicon glyphicon-hand-down"></span>
            </h4>
          </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="mypanelbody panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div>
    

        <br><br>

        <div class="panel ">
            <a data-toggle="collapse"  href="#collapse3"><div class="panel-heading mypanelstyle">
            <h4 class="panel-title">
              
                How much time the Qurative.ai system takes to process a chest X-ray image?
              <span style="float: right;" class="glyphicon glyphicon-hand-down"></span>
            </h4>
          </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="mypanelbody panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div>


        <br><br>

        <div class="panel ">
            <a data-toggle="collapse"  href="#collapse4"><div class="panel-heading mypanelstyle">
            <h4 class="panel-title">
              
                How much time the Qurative.ai system takes to process a chest X-ray image?
              <span style="float: right;" class="glyphicon glyphicon-hand-down"></span>
            </h4>
          </div>
          </a>
          <div id="collapse4" class="panel-collapse collapse in">
            <div class="mypanelbody panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div>



        <br><br>

        <div class="panel ">
            <a data-toggle="collapse"  href="#collapse5"><div class="panel-heading mypanelstyle">
            <h4 class="panel-title">
              
                How much time the Qurative.ai system takes to process a chest X-ray image?
              <span style="float: right;" class="glyphicon glyphicon-hand-down"></span>
            </h4>
          </div>
          </a>
          <div id="collapse5" class="panel-collapse collapse in">
            <div class="mypanelbody panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div>

    
</div>
    

     <!-- footer -->
     <div class="footer-bottom" >
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="copyright-text">
                        <p>CopyRight © <span style="color: #64ffda;">Qurative.ai</span> Digital All Rights Reserved</p>
                    </div>
                </div> <!-- End Col -->
                <div class="col-sm-6">
                    <ul class="social-link pull-right">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        </li>


                        <li>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        </li>
                    </ul>
                </div> <!-- End Col -->
            </div>
        </div>
    </div>
    
</body>
</html>