<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/section1.css">

    <!--online fontawsome css -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- css end -->
</head>
<body>
    

    <!-- footer start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="copyright-text">
                        <p>CopyRight © <span style="color: #64ffda;">Qurative.ai</span> Digital All Rights Reserved</p>
                    </div>
                </div> <!-- End Col -->
                <div class="col-sm-6">
                    <ul class="social-link pull-right">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dropbox fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flickr fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        </li>
                    </ul>
                </div> <!-- End Col -->
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>
<!-- script -->
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- script end -->
</html>